{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'sk-design-system.css' | asset_url | stylesheet_tag }}

<div class="sk-title-block">
  <h1 class="sk-title">
    <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
    {{- collection.title | escape -}}
  </h1>

  {%- if section.settings.show_collection_description -%}
    <div class="sk-collection-description rte">{{ collection.description }}</div>
  {%- endif -%}

  {%- if section.settings.show_collection_image and collection.image -%}
    <div class="sk-collection-image">
      <img
        srcset="
          {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
          {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ collection.image | image_url }} {{ collection.image.width }}w
        "
        src="{{ collection.image | image_url: width: 750 }}"
        sizes="(min-width: 1200px) 600px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
        alt="{{ collection.image.alt | escape }}"
        width="{{ collection.image.width }}"
        height="{{ collection.image.height }}"
        class="sk-collection-image__img"
      >
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
